/* Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --site-background-color: #051923;
    --block-backgorund-color: #003554;
    --border-color: rgba(229, 71, 234, 0.44);
    --button-color: #0085C8;
    --button-hover-color: #00A6FB;
    --text-color: #FDF0D5;
    --site-gradient: linear-gradient(90deg, rgba(109, 199, 255, 1) 0%, rgba(230, 171, 255, 1) 0%, rgba(91, 129, 255, 1) 33%, rgba(26, 109, 255, 1) 66%, rgba(200, 34, 255, 1) 100%);
    --icon-color: #e8ebee;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--site-background-color);
    color: var(--text-color)
}

a {
    text-decoration: none;
    color: inherit;
}

.font-aw-icon {
    font-size: 1.6rem;
    color: #b3b3b6;
}

li {
    list-style: none;
}


/* Header */
header {
    display: flex;
    align-items: center;
    height: 3.5rem;
    background-color: rgba(3, 11, 31, 0.6);
    border-bottom: transparent solid 2px;
    border-image: var(--site-gradient) 1;
    position: fixed;
    width: 100vw;
    backdrop-filter: blur(3px);
    padding: 0 5vw;
}

#nav-topics-toggle {
    display: none;
}

label[for="nav-topics-toggle"] {
    flex-grow: 2;
}

#feedback {
    flex-grow: 1;
}

header > h1 {
    font-size: 0;
    order: 1;
    text-align: center;
    margin: auto;
    flex-grow: 10;
}

#logo {
    height: 2.3rem;
    width: 2.3rem;
}

#nav-site {
    display: none;
}

#outer-sites {
    display: flex;
    justify-content: space-evenly;
    order: 2;
    flex-grow: 4;

}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width: 768px) {
/* Header */
    header {
        padding-right: 3vw;
    }

    #outer-sites {
        justify-content: flex-end;
        gap: 25px
    }
}

/* Media query: laptops and larger (992 and up) */
@media screen and (min-width: 992px) {
/* Header */
    header {
        padding: 0 20px;
    }

    header > h1 {
        flex: 1 200px;
        order: initial;
        text-align: left;
    }
    #feedback, label[for="nav-topics-toggle"] {
        display: none;
    }

    #nav-site {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    #nav-site > ul {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 50px;
        font-size: 1.2rem;
    }

    #outer-sites {
        flex: 1 200px;
    }
}